# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [11]:
# import numpy and pandas
import numpy as np 
import pandas as pd
import scipy.stats
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [12]:
# Your code here:
df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '', regex=True)

Examine the `salaries` dataset using the `head` function below.

In [13]:
# Your code here:
df.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

In [14]:
df.columns

Index(['name', 'job_titles', 'department', 'full_or_part-time',
       'salary_or_hourly', 'typical_hours', 'annual_salary', 'hourly_rate'],
      dtype='object')

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [15]:
# Your code here:
df.isnull()
nul_cols = df.isnull().sum()
nul_cols[nul_cols > 0]

typical_hours    24775
annual_salary     7883
hourly_rate      24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [16]:
# Your code here:
df['salary_or_hourly'].value_counts()

Salary    24775
Hourly     7883
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [17]:
# Your code here:
departments = df.groupby('department').count()
departments

,name,job_titles,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
department,,,,,,,
ADMIN HEARNG,38,38,38,38,0,38,0
ANIMAL CONTRL,73,73,73,73,16,57,16
AVIATION,1612,1612,1612,1612,1056,556,1056
BOARD OF ELECTION,112,112,112,112,0,112,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,44,44,44,44,1,43,1
BUILDINGS,266,266,266,266,0,266,0
BUSINESS AFFAIRS,168,168,168,168,8,160,8
CITY CLERK,85,85,85,85,3,82,3
CITY COUNCIL,400,400,400,400,52,348,52
COMMUNITY DEVELOPMENT,214,214,214,214,4,210,4
COPA,17,17,17,17,0,17,0
CULTURAL AFFAIRS,76,76,76,76,10,66,10
DISABILITIES,29,29,29,29,0,29,0
DoIT,101,101,101,101,0,101,0
FAMILY & SUPPORT,621,621,621,621,300,321,300
FINANCE,575,575,575,575,43,532,43
FIRE,4800,4800,4800,4800,2,4798,2
GENERAL SERVICES,972,972,972,972,767,205,767
HEALTH,516,516,516,516,4,512,4
HUMAN RELATIONS,17,17,17,17,0,17,0
HUMAN RESOURCES,68,68,68,68,1,67,1
INSPECTOR GEN,63,63,63,63,0,63,0
IPRA,56,56,56,56,0,56,0
LAW,405,405,405,405,44,361,44
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,85,85,85,85,7,78,7
OEMC,2044,2044,2044,2044,1212,832,1212
POLICE,12973,12973,12973,12973,32,12941,32
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,86,86,86,86,4,82,4
PUBLIC LIBRARY,932,932,932,932,224,708,224
STREETS & SAN,2194,2194,2194,2194,1873,321,1873
TRANSPORTN,1103,1103,1103,1103,707,396,707
TREASURER,24,24,24,24,1,23,1
WATER MGMNT,1878,1878,1878,1878,1512,366,1512

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
hourly_rate = df['hourly_rate'][(df['salary_or_hourly'] == 'Hourly')]
hourly_rate = hourly_rate.str.lower().str.replace('$', '')
hourly_rate = pd.to_numeric(hourly_rate)
hourly_rate = np.array(hourly_rate)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_504/32451771.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hourly_rate = hourly_rate.str.lower().str.replace('$', '')

In [19]:
hourly_rate

array([14.51, 19.66, 46.1 , ..., 35.6 , 46.35, 48.85])

In [20]:
stat, pval = ttest_1samp(hourly_rate, 30)

In [21]:
stat

21.003532193332216

In [22]:
pval

2.4048011351057683e-95

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [23]:
# Your code here:

# H0 =< 86000/YEAR
# H1 >  86000/YEAR

police = df['annual_salary'][(df['department']=='POLICE')& (df['annual_salary'].isna()==False)]
police = police.str.replace('$', '')
police = pd.to_numeric(police)
police = np.array(police)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_504/1245788810.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  police = police.str.replace('$', '')

In [24]:
police

array([104628., 111474., 104628., ...,  48078.,  87006.,  93354.])

In [25]:
stat, pval = ttest_1samp(police, 86000)

Using the `crosstab` function, find the department that has the most hourly workers.

In [26]:
stat

12.573116980151957

In [27]:
pval

4.8201971480060955e-36

In [28]:
# Your code here:
crosstab = pd.crosstab(df.department, df['salary_or_hourly']).sort_values(by='Hourly', ascending=False).reset_index()
crosstab

salary_or_hourly             department  Hourly  Salary
0                         STREETS & SAN    1873     321
1                           WATER MGMNT    1512     366
2                                  OEMC    1212     832
3                              AVIATION    1056     556
4                      GENERAL SERVICES     767     205
5                            TRANSPORTN     707     396
6                      FAMILY & SUPPORT     300     321
7                        PUBLIC LIBRARY     224     708
8                          CITY COUNCIL      52     348
9                                   LAW      44     361
10                              FINANCE      43     532
11                               POLICE      32   12941
12                        ANIMAL CONTRL      16      57
13                     CULTURAL AFFAIRS      10      66
14                     BUSINESS AFFAIRS       8     160
15                       MAYOR'S OFFICE       7      78
16                               HEALTH       4     512
17                          PROCUREMENT       4      82
18                COMMUNITY DEVELOPMENT       4     210
19                           CITY CLERK       3      82
20                                 FIRE       2    4798
21                            TREASURER       1      23
22                      HUMAN RESOURCES       1      67
23                        BUDGET & MGMT       1      43
24                      BOARD OF ETHICS       0       8
25                    BOARD OF ELECTION       0     112
26                         POLICE BOARD       0       2
27                      HUMAN RELATIONS       0      17
28                    LICENSE APPL COMM       0       1
29                                 IPRA       0      56
30                        INSPECTOR GEN       0      63
31                            BUILDINGS       0     266
32                                 DoIT       0     101
33                         DISABILITIES       0      29
34                                 COPA       0      17
35                         ADMIN HEARNG       0      38

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [29]:
# Your code here:
streets_san = df['hourly_rate'][(df['department'] == 'STREETS & SAN') & (df['salary_or_hourly'] == 'Hourly')]

streets_san = streets_san.str.replace('$', '')
streets_san = pd.to_numeric(streets_san)
streets_san = np.array(streets_san)

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_504/3516613151.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  streets_san = streets_san.str.replace('$', '')

In [30]:
streets_san

array([35.6 , 20.77, 35.6 , ..., 36.21, 21.43, 36.21])

In [31]:
stat, pval = ttest_1samp(streets_san, 35)

In [32]:
stat

-7.172610090911691

In [33]:
pval

1.0552486304260417e-12

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [37]:
hourly_rate = df['hourly_rate'][(df['salary_or_hourly'] == 'Hourly')]
hourly_rate = hourly_rate.str.replace('$', '')
hourly_rate = pd.to_numeric(hourly_rate)
hourly_rate = np.array(hourly_rate)
hourly_rate

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_504/3254750533.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hourly_rate = hourly_rate.str.replace('$', '')

array([14.51, 19.66, 46.1 , ..., 35.6 , 46.35, 48.85])

In [39]:
confidence_level = 0.95
degrees_freedom = len(hourly_rate) - 1 
sample_mean = np.mean(hourly_rate)

In [41]:
sample_std_error = scipy.stats.sem(hourly_rate) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_std_error)

confidence interval is  (32.600503194325306, 33.13588143081741) .

In [42]:
confidence_interval

(32.600503194325306, 33.13588143081741)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [43]:
police = df['annual_salary'][(df['department']=='POLICE')& (df['annual_salary'].isna()==False)]
police = police.str.replace('$', '')
police = pd.to_numeric(police)
police = np.array(police)
police

C:\Users\TgMiles\AppData\Local\Temp/ipykernel_504/3415999317.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  police = police.str.replace('$', '')

array([104628., 111474., 104628., ...,  48078.,  87006.,  93354.])

In [44]:
confidence_level = 0.95
degrees_freedom = len(police) - 1 
sample_mean = np.mean(police)

In [45]:
sample_std_error = scipy.stats.sem(police) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_std_error)

In [46]:
confidence_interval

(87549.78923170577, 88122.26146607645)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.